@media only screen and (max-width: 991px) {
.about-img
  {
    position: relative;
    max-width: 60%;
  }
  .ovr-service-over{
  	margin-top: 15px;
  	display: flex;
	justify-content: center;
	width: 540px;
  }
  

} 
@media only screen and (max-width: 768px) {
  .test{
  	line-height: 70px;
  }
  .openbtn{
  	display: block;
  	position: absolute;
  	right: 15px;
	}
	.navbar1{
		display: none;
	}
} 
@media only screen and (max-width: 600px) {
	.typ-wrap h2{
		font-size: 40px;
	}


}
@media only screen and (max-width: 572px) {
	.service-right-out-box{
		width: 260px;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 480px) {
	.typ-wrap h2{
		font-size: 30px;
	}
	.benner-icon a{
		padding: 0;
	}
 .about-img{
    position: relative;
    max-width: 100%;
  }

}