
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 991px) {
.about-img
  {
    position: relative;
    max-width: 60%;
  }

} 
@media only screen and (max-width: 768px) {
  .test{
  	line-height: 70px;
  }
  .openbtn{
  	display: block;
  	position: absolute;
  	right: 15px;
	}
	.navbar1{
		display: none;
	}
} 
@media only screen and (max-width: 600px) {
	.typ-wrap h2{
		font-size: 40px;
	}


}
@media only screen and (max-width: 572px) {
}
@media only screen and (max-width: 480px) {
	.typ-wrap h2{
		font-size: 30px;
	}
	.benner-icon a{
		padding: 0;
	}
 .about-img{
    position: relative;
    max-width: 100%;
  }

}