:root {
  --bg-color:rgba(0,0,0,0.7);
  --bg-hover-color:#2bab0d;
  --bg-nev-coloe:#c5c5c5;
  --bg-w-color:#ffffff;
}

*{
  box-sizing: border-box;

}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #383838;
  letter-spacing: 0.8px;

}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none !important;
  transition: all 0.5s ease 0s;

}
input:focus,
button:focus,
select:focus{
  margin: 0;
  padding: 0;
}
.w-1{
  width: 8.33%;
}
.w-11{
  width: 91.67%;
}
.container{
  padding: 0 15px;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
section{
  padding: 100px 0;
}
.section-title
{
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2px;
}
.sec-heading
{
  /*margin: 0px;*/
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 800;
  color: #181818; 
}
#loader{
  position: absolute;
  right: 45%;
  top: 50%;

}
/*====================================================
====================header============================
======================================================*/

.headers{
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color:var(--bg-color);
  /*height: 110px; */
  line-height: 100px;
}
/*header nav{
  float: right;
}*/
header nav ul li{
  display: inline-block;
}
header nav ul li a{
  color: var(--bg-nev-coloe);
  padding: 0px 12px;
  text-align: center;
  display: block;
  margin-left: -3px;
  font-weight: 600;
  transition: all 0.5s ease 0s;
}
.logo{
  transition: all 0.5s ease 0s;

}


.openbtn{
  display: none;
}
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 0 0 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  line-height: 40px;
  transition: 0.3s;
}

.sidepanel a:hover {
  color:  var(--bg-hover-color);
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color:rgba(0,0,0,-3.7);
  color: white;
  /*padding: 10px 15px;*/
  border: none;
}

.openbtn:hover {
  background-color:rgba(0,0,0,0.5);
}





header nav ul li a:hover{
  color: var(--bg-hover-color);
}

/*====================================================
==============benner==================================
======================================================*/

.banner{
  background-image: url('../images/snowBg.jpg');
  /*height: 100%;*/
  height: 100vh;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;

}
.banner:before{
  content: '';
  position: absolute;
  background-color:var(--bg-color);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
.banner-overley{
  width: 45%;
  height: 100%;
  background-color:var(--bg-color);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.banner-overley:after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  /*transform: rotate(45deg);*/
  border-width: 100vh 0 0 30vh;
  border-color:transparent transparent transparent var(--bg-color);
  position: absolute;
  left: 100%;
  z-index: -1;
}

.banner-text{
  color: var(--bg-w-color);
  position: relative;
  z-index: 3;
  padding: 175px 0 0 0;
}
.typ-wrap{
  /*margin: 50px 0 35px 0;*/

}
.typ-wrap h2{

  font-size: 56px;
  font-weight: 300;
  margin: 50px 0 35px 0;
}
.typ-wrap h2 span{

  font-weight: 700;
}
.typ-wrap p{
  max-width: 500px;
  margin: 0 0 35px 0;
  color:var(--bg-w-color); 
}

.benner-icon{
  margin: 0 0 50px 0;
}
.benner-icon a{
  color: var(--bg-w-color);
  font-size: 16px;
  padding: 0 8px;
  margin: 0 5px;
}

/*====================================================
==============about==================================
======================================================*/


.about-text
 {
  padding-right: 12%;
  margin-bottom: 40px;
  line-height: 26px;
  font-size: 14px;
  font-weight: 400;
  color: #383838;
  letter-spacing: 0.8px;
  }
.skills{
  width: 80%;
}
.skills .progressbar-area h6{
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 15px;
  color: #333;
}
.progress-bar{
    background-color: #333;
}
.progressbar-area .progress{
  overflow: visible;
  height: 4px;
  margin-top: 10px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  background: #d7d7d7;
  box-shadow: none;
  font-weight: 400;
}/*
.progressbar-area .progress span
{
  position: absolute;
  top: 200px;
  right: 256px;
  display: inline-block;
  min-width: 25px;
  height: 22px;
  padding: 0 8px;
  text-align: center;
  letter-spacing: 0;
  color: #fff;
  background-color: #333;
  line-height: 21px;
  width: 36px;
}.progressbar-area .progress .prog2 span
{
  top: 282px;
  right: 176px;
}.progressbar-area .progress .prog3 span
{
  top: 360px;
  right: 222px;
}*/
.about-img
  {
    height: 100%;
    width: 100%;
    position: relative;
    line-height: 0;
  }
  .img-overlay
  {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.8s ease 0s;
    transform: scale(0);
  }
  .img-overlay::before
  {
  content: "";
  height: 130px;
  width: 130px;
  top: 18px;
  left: 18px;
  position: absolute;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  }

  .img-overlay::after
  {
    content: "";
    height: 130px;
    width: 130px;
    bottom: 18px;
    right: 18px;
    position: absolute;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
  }

  .about-img:hover .img-overlay
  {
    visibility: visible;
    transform: scale(1);
  }